# Scorey 
    - Scraping, aggregating and assessing technical ability of a candidate based on publicly available sources

## Problem Statement 

The current interview scenario is biased towards "candidate's performance during the 2 hour interview" and doesn't take other factors into account such as candidate's competitive coding abilities, contribution towards developer community and so on.

## Approach

Scorey tries to solve this problem by aggregating publicly available data from various websites such as 
    * Github
    * StackOverflow
    * CodeChef
    * Codebuddy
    * Codeforces
    * Hackerearth
    * SPOJ
    * GitAwards

Once the data is collected, the algorithm then defines a comprehensive scoring system that grades the candidates technical capablities based on following factors 
    - Ranking
    - Number of Problems Solved
    - Activity
    - Reputation
    - Contribution
    - Followers

The candidate is then assigned a scored out of 100 <br>
This helps the interviewer get a full view of candidates abilties and therefore helps them make a unbiased, informed decision.


-------

## ( Initial Setup )

In [1]:
def color_negative_red(val):
    """
    Takes a scalar and returns a string with
    the css property `'color: red'` for negative
    strings, black otherwise.
    """
    color = 'red' if val > 0 else 'black'
    return 'color: %s' % color

In [2]:
# Set CSS properties for th elements in dataframe
th_props = [
  ('font-size', '15px'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('color', '#00c936'),
  ('background-color', '##f7f7f7')
  ]

# Set CSS properties for td elements in dataframe
td_props = [
  ('font-size', '15px'),
    ('font-weight', 'bold')
  ]

# Set table styles
styles = [
  dict(selector="th", props=th_props),
  dict(selector="td", props=td_props)
  ]

-------

## Candidate's Username

- This information can be extracted in two ways <br>
    - Parsing the resume
    - Adding additional fields in the job application form
    - Scrape it from personal website

In [51]:
import urllib.request
import requests
#return requests.get(url).json()
import json
import csv

serviceurl = 'https://api.github.com/users/'
#user = 'poke19962008'

user = input('Enter candidates username - ')

## Extracting all possible links/ usernames from personal website

In [69]:
from bs4 import BeautifulSoup
import urllib
import urllib.parse
import urllib.request
from urllib.request import urlopen

url = input('Enter your personal website - ')

html = urlopen(url).read()
soup = BeautifulSoup(html, "lxml")

tags = soup('a')

for tag in tags:
    print (tag.get('href',None))

https://drive.google.com/open?id=1YyjoWND218uKDiETBK1mZdFjsfKSHKBg
page.html
https://github.com/warmachine0609
https://linkedin.com/in/naman-doshi
https://www.youtube.com/channel/UC1jKp2W8e99f99KoSZxOmDA/featured?view_as=subscriber
https://twitter.com/gofornaman
https://medium.com/@namandoshi
http://gofornaman.co/cli

## 1. Github

In [4]:
user = 'poke19962008'
#user = raw_input('Enter user_name : ')
#if len(user) < 1 : break
serviceurl += user +'?'
access_token = "0b330104cd6dc94a8c29afb28a77ee8398e1c77b"
url = serviceurl + urllib.parse.urlencode({'access_token': access_token})
print('Retrieving', url)
uh = urllib.request.urlopen(url)
data = uh.read()
    #print data
#js = json.loads(str(data))
js = json.loads(data.decode("utf-8"))

Retrieving https://api.github.com/users/poke19962008?access_token=0b330104cd6dc94a8c29afb28a77ee8398e1c77b

In [5]:
js

{'login': 'poke19962008',
 'id': 9280180,
 'node_id': 'MDQ6VXNlcjkyODAxODA=',
 'avatar_url': 'https://avatars2.githubusercontent.com/u/9280180?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/poke19962008',
 'html_url': 'https://github.com/poke19962008',
 'followers_url': 'https://api.github.com/users/poke19962008/followers',
 'following_url': 'https://api.github.com/users/poke19962008/following{/other_user}',
 'gists_url': 'https://api.github.com/users/poke19962008/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/poke19962008/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/poke19962008/subscriptions',
 'organizations_url': 'https://api.github.com/users/poke19962008/orgs',
 'repos_url': 'https://api.github.com/users/poke19962008/repos',
 'events_url': 'https://api.github.com/users/poke19962008/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/poke19962008/received_events',
 'type': 'User',
 'site_admin': False,
 'name': 'Sayan Das',
 'company': 'SRM University',
 'blog': 'http://sayandas.xyz/',
 'location': 'Chennai, India',
 'email': 'poke19962008@gmail.com',
 'hireable': True,
 'bio': 'B.Tech final year in Computer Science at SRM University. I am open for  projects or avenues that can help me learn new things in the world of computers.',
 'public_repos': 38,
 'public_gists': 5,
 'followers': 48,
 'following': 57,
 'created_at': '2014-10-17T08:35:18Z',
 'updated_at': '2018-06-19T04:16:23Z',
 'private_gists': 1,
 'total_private_repos': 2,
 'owned_private_repos': 2,
 'disk_usage': 157787,
 'collaborators': 1,
 'two_factor_authentication': False,
 'plan': {'name': 'developer',
  'space': 976562499,
  'collaborators': 0,
  'private_repos': 9999}}

In [6]:
import pandas as pd
df = pd.DataFrame.from_dict(js, orient='columns')

In [7]:
df = df.iloc[3:]
df

,avatar_url,bio,blog,collaborators,company,created_at,disk_usage,email,events_url,followers,...,received_events_url,repos_url,site_admin,starred_url,subscriptions_url,total_private_repos,two_factor_authentication,type,updated_at,url
space,https://avatars2.githubusercontent.com/u/92801...,B.Tech final year in Computer Science at SRM U...,http://sayandas.xyz/,1,SRM University,2014-10-17T08:35:18Z,157787,poke19962008@gmail.com,https://api.github.com/users/poke19962008/even...,48,...,https://api.github.com/users/poke19962008/rece...,https://api.github.com/users/poke19962008/repos,False,https://api.github.com/users/poke19962008/star...,https://api.github.com/users/poke19962008/subs...,2,False,User,2018-06-19T04:16:23Z,https://api.github.com/users/poke19962008

In [8]:
df_new = df.filter(['email','public_repos','followers','hireable','company','updated_at'], axis=1)

In [9]:
(df_new.style
    .set_table_styles(styles))

In [10]:
#json.dumps(js, indent=4)

# df['public_repos'] = js['public_repos']
# #df['total_private_repos'] = js['total_private_repos']
# df['followers'] = js['followers']
# df['hireable'] = js['hireable']
# df['company'] = js['company']
# df['updated_at'] = js['updated_at']


print("Number of public repositores - ", js['public_repos'])
#print("Number of private repositores - ", js['total_private_repos'])
print("Number of followers - ", js['followers'])
print("Is candidate looking for job? - ", js['hireable'])
print("Company - ", js['company'])
print("Last seen - ", js['updated_at'])

Number of public repositores -  38
Number of followers -  48
Is candidate looking for job? -  True
Company -  SRM University
Last seen -  2018-06-19T04:16:23Z



--------

## 2. StackOverflow

In [11]:
import stackexchange

In [12]:
so = stackexchange.Site(stackexchange.StackOverflow)

In [13]:
u = so.user('1600172')
print('reputation is' , u.reputation.format())
print('no of questions answered - ', u.answers.count)

reputation is 302
no of questions answered -  14

In [14]:
df_new['stack_reputation'] = u.reputation.format()

In [15]:
df_new['stack_answer_count'] = u.answers.count

In [16]:
df_new.set_index('email')
(df_new.style
    .set_table_styles(styles))

--------

## 3. CodeChef

In [17]:
import requests
from bs4 import BeautifulSoup

In [18]:
head = "https://wwww.codechef.com/users/"
var = user
URL = head + user
page  = requests.get(URL)
soup = BeautifulSoup(page.content,'html.parser')

In [19]:

#These three lines give the Rating of the user.
listRating = list(soup.findAll('div',class_="rating-number"))
rating = list(listRating[0].children)
rating = rating[0]
print ("Rating: "+rating)
df_new['CodeChef_rating'] = rating

Rating: 1692

In [20]:

listGCR = []  #Global and country ranking.
listRanking = list(soup.findAll('div',class_="rating-ranks"))
rankingSoup = listRanking[0] 
for item in rankingSoup.findAll('a'):
	listGCR.append(item.get_text()) #Extracting the text from all anchor tags
print ("Global Ranking: "+listGCR[0])
df_new['CodeChef_global_rank'] = listGCR[0]
print ("Country Ranking: "+listGCR[1])
df_new['CodeChef_Country_rank'] = listGCR[1]

Global Ranking: 12621
Country Ranking: 8992

In [21]:
(df_new.style
    .set_table_styles(styles))

--------

## 4. Spoj

In [22]:
import requests
import bs4 as bs

#url = input('enter spoj profile url - ')
url = 'https://www.spoj.com/users/poke19962008/'
sauce = urllib.request.urlopen(url).read()    
soup = bs.BeautifulSoup(sauce,'lxml')     # lxml is a parser
#print(soup)

info = (soup.find_all('p'))
for i in info:
    print(i.text)

no_of_questions = int(soup.find('dd').text)
print(" no. of questions = ",no_of_questions)
df_new['SPOJ_no_of_ques'] = no_of_questions

 India, Chennai
 Joined Aug 2014
 World Rank: #65457 (0 points)
 Institution: SRM University kattankulathur
B.Tech sophomore in Computer Science and Engineering at SRM University. I am particularly interested in Algorithms, Data Structures, Data Science and Web Development and looking for any projects or avenues that can help me learn new things in these subjects. I am a keen learner and always up for a challenge.

About | Tutorial | Tools | Clusters | Credits | API | Widgets
Legal:
					   Terms of Service | Privacy Policy | GDPR Info

 no. of questions =  4

In [23]:
(df_new.style
    .set_table_styles(styles))

## 5. Codebuddy

In [24]:
import requests
from bs4 import BeautifulSoup

def codebuddy(username):
    URL = "https://codebuddy.co.in/ranks/practice"
    page  = requests.get(URL)
    soup = BeautifulSoup(page.content,'html.parser')
    table = list(soup.find_all('tr'))
    for i in table:
        parameters = list(i.find_all('label'))
        #print (i.find('label',class_="highlight").text)
        if str(parameters[1].text)==username:
            output = str(int(parameters[0].text))+" "+str(int(parameters[2].text))+" "+str(float(parameters[3].text))
            return (output)
    return (-1)
#ranking out of 2000

In [25]:
a = codebuddy("spectrum").split(" ")
a = pd.DataFrame(a)
a = a.transpose()

In [26]:
df_new['Codebuddy_rank'] = a[0].values
df_new['Codebuddy_problem_solved'] = a[1].values
df_new['Codebuddy_points'] = a[2].values
(df_new.style
    .set_table_styles(styles))

-------

## 6. Hackerearth

In [27]:
import bs4 as bs
import urllib.request

#url = input('enter hackerearth profile url - ')
url = 'https://www.hackerearth.com/@poke19962008'
sauce = urllib.request.urlopen(url).read()    
soup = bs.BeautifulSoup(sauce,'lxml')     # lxml is a parser
#print(soup)

name = soup.find('h1', class_="name ellipsis larger")
print(name)

followersNo = soup.find('span', class_="track-followers-num")
followingNo = soup.find('span', class_="track-following-num")
print("No. of followers = ",followersNo)
print("No. of following = ",followingNo)

None
No. of followers =  None
No. of following =  None

-------

## 7. CodeForces

In [28]:
def codeforces(username):
    head = 'http://codeforces.com/profile/'
    var = username
    URL = head + var
    page = requests.get(URL)
    soup = BeautifulSoup(page.content,'html.parser')

    listRating = list(soup.findAll('div',class_="user-rank"))
    CheckRating = listRating[0].get_text()  #Check for rated or unrated
    if str(CheckRating) == '\nUnrated \n':
        # print('Not rated')
        out = 1000000
        return(out)
    else:
    # print('rated')
        listinfo = list((soup.find('div',class_="info")).findAll('li'))
        string = (listinfo[0].get_text())
        string = string.replace(" ","")
        str1,str2 = string.split('(')   
        str3,str4 = str1.split(':') 
        out = int((str4.strip()))
        return(out)

In [29]:
df_new['CodeForce_ranking'] = codeforces('user')
(df_new.style
    .set_table_styles(styles))

-------

## 8. Git-Awards Ranking

In [30]:
import requests
from bs4 import BeautifulSoup
import re

head = "http://git-awards.com/users/"
var = user
URL = head + var

page  = requests.get(URL)
soup = BeautifulSoup(page.content,'html.parser')
a = list(soup.findAll('div',class_='col-md-3 info'))
b = list(soup.findAll('td'))
lang=[]
f = 0
for i in a:
    c = i.text.lstrip().rstrip()
    if 'your ranking' in c and f==0:
        f=1
        continue
    if 'ranking' in c:
        s=""
        d = c.split(" ")
        for j in d:
            if j!="ranking":
                s+=j+" "
        lang.append(s.rstrip())
        
print(lang)
df_new['lang_1'] = lang[0]
df_new['lang_2'] = lang[1]
df_new['lang_3'] = lang[2]
df_new['lang_4'] = lang[3]
(df_new.style
    .set_table_styles(styles))

['python', 'javascript', 'css', 'swift', 'c++', 'shell', 'objective-c', 'c']

(If you want to know about their work)

In [31]:
#username = input('enter github username - ')
username = user
print("Loading...")
print()
url = "https://github.com/"+username
sauce = urllib.request.urlopen(url).read()    
soup = bs.BeautifulSoup(sauce,'lxml')     # lxml is a parser
#print(soup)

repoNo = int(soup.find('span',class_='Counter').text)
n1 = repoNo
print("No. of repositories = ",n1)
print()

url2 = url + "?tab=repositories"
sauce = urllib.request.urlopen(url2).read()    
soup = bs.BeautifulSoup(sauce,'lxml')
#print(soup)

arr = [0]
tags = soup.find_all('a', itemprop="name codeRepository")
for tag in tags:
    if tag.text!="":
        arr.append((tag.text).lstrip())

k=2
while(len(arr)<=n1):
    url3 = url + "?page="+str(k)+"&tab=repositories"
    k+=1
    sauce = urllib.request.urlopen(url3).read()    
    soup = bs.BeautifulSoup(sauce,'lxml')
    tags = soup.find_all('a', itemprop="name codeRepository")
    for tag in tags:
        if tag.text!="":
            arr.append((tag.text).lstrip())

for i in range(1,len(arr)):
    h1 = str(i) + ".  "+str(arr[i])
    print(h1)

Loading...

No. of repositories =  38

1.  Competitive-Coding
2.  Machine-Learning-Projects
3.  Resume
4.  Quote-Attribution
5.  a2o
6.  Today-Attendance
7.  Mash-Up
8.  Teacher-Stats
9.  Source-Code-Classifier
10.  Data-structures
11.  learn
12.  awesomesource
13.  My-Website
14.  Moeditor
15.  NEXTed
16.  Zoho-SmartAnswer
17.  DBpediaSpotlight.js
18.  dbpedia-spotlight
19.  SpellChecker
20.  uTServer
21.  Minutes-Of-Meeting
22.  CC-Rank-Notifier
23.  notie.js
24.  TalHat
25.  CS1005-Mini-Poject
26.  chain-reaction
27.  HackIndia-2015
28.  SudoCrawler2015
29.  MacGoalNotification
30.  PageRanking
31.  Metric-Converter-Module
32.  Proxy-Finder
33.  Image-Search
34.  Python-Crawlers
35.  iCamel
36.  NyanCat-iOS-Swift-
37.  Calculator-iOS
38.  CWC-15Stats

In [32]:
(df_new.style
    .set_table_styles(styles))

In [33]:
df_new.to_csv("final_data.csv")

--------

## Scoring

Next part is to score the candidates on following parameters - 
 - Rank (25)
 - Number of problems solved (25)
 - Reputation (25)
 - Followers (15)
 - Activity (5)
 - Contributions (5)

In [34]:
df_new['stack_reputation']= df_new['stack_reputation'].apply(pd.to_numeric)
df_new['CodeChef_rating']= df_new['CodeChef_rating'].apply(pd.to_numeric)
df_new['Codebuddy_points']= df_new['Codebuddy_points'].apply(pd.to_numeric)
df_new['stack_answer_count']= df_new['stack_answer_count'].apply(pd.to_numeric)
df_new['SPOJ_no_of_ques']= df_new['SPOJ_no_of_ques'].apply(pd.to_numeric)
df_new['Codebuddy_problem_solved']= df_new['Codebuddy_problem_solved'].apply(pd.to_numeric)
df_new['CodeChef_global_rank']= df_new['CodeChef_global_rank'].apply(pd.to_numeric)
df_new['CodeChef_Country_rank']= df_new['CodeChef_Country_rank'].apply(pd.to_numeric)
df_new['Codebuddy_rank']= df_new['Codebuddy_rank'].apply(pd.to_numeric)
df_new['CodeForce_ranking']= df_new['CodeForce_ranking'].apply(pd.to_numeric)

In [35]:
df_res = df_new.filter(['email'], axis=1)

## 1. Reputation

In [36]:
df_new.loc[ df_new['stack_reputation'] >= 360 , 'score_rep_1'] = 10
df_new.loc[ (df_new['stack_reputation'] < 359) & (df_new['stack_reputation'] >= 150) , 'score_rep_1'] = 5
df_new.loc[ (df_new['stack_reputation'] < 149) & (df_new['stack_reputation'] >= 100) , 'score_rep_1'] = 2

df_new.loc[ df_new['CodeChef_rating'] > 1500 , 'score_rep_2'] = 10
df_new.loc[ (df_new['CodeChef_rating'] < 1499) & (df_new['CodeChef_rating'] >= 1000) , 'score_rep_2'] = 5
df_new.loc[ (df_new['CodeChef_rating'] < 999) & (df_new['CodeChef_rating'] >= 500) , 'score_rep_2'] = 2

df_new.loc[ df_new['Codebuddy_points'] > 100 , 'score_rep_3'] = 5
df_new.loc[ (df_new['Codebuddy_points'] < 99) & (df_new['Codebuddy_points'] >= 50) , 'score_rep_3'] = 2
df_new.loc[ (df_new['Codebuddy_points'] < 49) & (df_new['Codebuddy_points'] >= 20) , 'score_rep_3'] = 1

df_res['score_rep'] = df_new['score_rep_1'] + df_new['score_rep_2'] + df_new['score_rep_3']

In [37]:
df_res

                        email  score_rep
space  poke19962008@gmail.com       20.0

-----
## 2. Number of Problems Solved

In [38]:
df_new.loc[ df_new['stack_answer_count'] >= 20 , 'score_ps_1'] = 9
df_new.loc[ (df_new['stack_answer_count'] < 20) & (df_new['stack_answer_count'] >= 10) , 'score_ps_1'] = 5
df_new.loc[ (df_new['stack_answer_count'] < 10) & (df_new['stack_answer_count'] >= 5) , 'score_ps_1'] = 3

df_new.loc[ df_new['SPOJ_no_of_ques'] >= 10 , 'score_ps_2'] = 8
df_new.loc[ (df_new['SPOJ_no_of_ques'] < 9) & (df_new['SPOJ_no_of_ques'] >= 5) , 'score_ps_2'] = 4
df_new.loc[ (df_new['SPOJ_no_of_ques'] < 5) & (df_new['SPOJ_no_of_ques'] >= 2) , 'score_ps_2'] = 2

df_new.loc[ df_new['Codebuddy_problem_solved'] >= 50 , 'score_ps_3'] = 8
df_new.loc[ (df_new['Codebuddy_problem_solved'] < 49) & (df_new['Codebuddy_problem_solved'] >= 25) , 'score_ps_3'] = 4
df_new.loc[ (df_new['Codebuddy_problem_solved'] < 24) & (df_new['Codebuddy_problem_solved'] >= 10) , 'score_ps_3'] = 2

df_res['score_ps'] = df_new['score_ps_1'] + df_new['score_ps_2'] + df_new['score_ps_3']

In [39]:
df_res

                        email  score_rep  score_ps
space  poke19962008@gmail.com       20.0      15.0

------
## 3. Ranking

In [40]:
df_new.loc[ df_new['CodeChef_global_rank'] <= 5000 , 'score_rank_1'] = 7
df_new.loc[ (df_new['CodeChef_global_rank'] > 5000) & (df_new['CodeChef_global_rank'] <= 15000) , 'score_rank_1'] = 4
df_new.loc[ (df_new['CodeChef_global_rank'] > 15000) & (df_new['CodeChef_global_rank'] <= 25000) , 'score_rank_1'] = 2

df_new.loc[ df_new['CodeChef_Country_rank'] <= 2000 , 'score_rank_2'] = 6
df_new.loc[ (df_new['CodeChef_Country_rank'] > 2000) & (df_new['CodeChef_Country_rank'] <= 7000) , 'score_rank_2'] = 3
df_new.loc[ (df_new['CodeChef_Country_rank'] > 7000) & (df_new['CodeChef_Country_rank'] <= 15000) , 'score_rank_2'] = 1

df_new.loc[ df_new['Codebuddy_rank'] <= 50 , 'score_rank_3'] = 6
df_new.loc[ (df_new['Codebuddy_rank'] > 50) & (df_new['Codebuddy_rank'] <= 250) , 'score_rank_3'] = 3
df_new.loc[ (df_new['Codebuddy_rank'] > 250) & (df_new['Codebuddy_rank'] <= 500) , 'score_rank_3'] = 1

df_new.loc[ df_new['CodeForce_ranking'] <= 500 , 'score_rank_4'] = 6
df_new.loc[ (df_new['CodeForce_ranking'] > 500) & (df_new['CodeForce_ranking'] <= 2000) , 'score_rank_4'] = 3
df_new.loc[ (df_new['CodeForce_ranking'] > 2000) & (df_new['CodeForce_ranking'] <= 5000) , 'score_rank_4'] = 1

df_res['score_rank'] = df_new['score_rank_1'] + df_new['score_rank_2'] + df_new['score_rank_3'] + df_new['score_rank_4']

In [41]:
df_res

                        email  score_rep  score_ps  score_rank
space  poke19962008@gmail.com       20.0      15.0        14.0

-------
## 4. Activity

In [42]:
df_new['updated_at'] = df_new['updated_at'].apply(pd.to_datetime)
df_new['updated_at']
df_new['updated_at'] = df_new['updated_at'].dt.date
df_new['updated_at'] = df_new['updated_at'].apply(pd.to_datetime)
df_new['updated_at']

space   2018-06-19
Name: updated_at, dtype: datetime64[ns]

In [43]:
df_new['current_date'] = '2018-06-24'
df_new['current_date']= df_new['current_date'].apply(pd.to_datetime)
df_new['current_date']

space   2018-06-24
Name: current_date, dtype: datetime64[ns]

In [44]:
from datetime import date
df_new['last_active'] = df_new['current_date'] - df_new['updated_at']
df_new['last_active'].astype(str)

space    5 days 00:00:00.000000000
Name: last_active, dtype: object

In [45]:
df_new['last_active'] = df_new['last_active'].astype(str).str[0]
df_new['last_active']= df_new['last_active'].apply(pd.to_numeric)
df_new['last_active']

space    5
Name: last_active, dtype: int64

In [46]:
df_new.loc[df_new['last_active'] <= 7 , 'score_activity_1'] = 5
df_new.loc[ (df_new['last_active'] > 8) & (df_new['last_active'] <= 15) , 'score_activity_1'] = 3
df_new.loc[ (df_new['last_active'] > 15) & (df_new['last_active'] <= 30) , 'score_activity_1'] = 1

df_res['score_activity'] = df_new['score_activity_1']

--------
## 5. Followers

In [47]:
df_new.loc[ df_new['followers'] >= 200 , 'score_followers_1'] = 15
df_new.loc[ (df_new['followers'] < 200) & (df_new['followers'] >= 50) , 'score_followers_1'] = 10
df_new.loc[ (df_new['followers'] < 50) & (df_new['followers'] >= 30) , 'score_followers_1'] = 5

df_res['score_followers'] = df_new['score_followers_1']
df_res

,email,score_rep,score_ps,score_rank,score_activity,score_followers
space,poke19962008@gmail.com,20.0,15.0,14.0,5.0,5.0

------
## 6. Contributions

In [48]:
df_new.loc[ df_new['public_repos'] >= 30 , 'score_con_1'] = 5
df_new.loc[ (df_new['followers'] < 30) & (df_new['followers'] >= 10) , 'score_con_1'] = 3
df_new.loc[ (df_new['followers'] < 10) & (df_new['followers'] >= 3) , 'score_con_1'] = 1

df_res['score_contributions'] = df_new['score_con_1']
df_res

,email,score_rep,score_ps,score_rank,score_activity,score_followers,score_contributions
space,poke19962008@gmail.com,20.0,15.0,14.0,5.0,5.0,5.0

-------

## 7. Final Score

In [49]:
df_res['total_score'] = df_res['score_rep'] + df_res['score_ps'] + df_res['score_rank'] + df_res['score_activity'] + df_res['score_followers'] + df_res['score_contributions']

In [50]:
(df_res.style
    .applymap(color_negative_red, subset=['total_score'])
    .set_table_styles(styles))

-------
-------

## Demo

   - Visualizing candidates perfomance throughs charts and graphs

-------
-------

## Tech Stack

    - Python: BeautifulSoup, Urllib, Pandas, Scipy
    - D3.js

-------
-------

## What's Next?

    - Scorey for non technical recruitments - Sales, Marketing and HR
    - Integrating Machine learning components for rule generation
    - Handling missing data exceptions dynamically
    
-------
-------

Thank you!